<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Rezerwacja</title>
</head>
<body>
<h1 layout:fragment="title">Dodaj Rezerwacje</h1>
<section layout:fragment="content">
    <form action="#" th:action="@{/booking/date/__${booking.id}__}" th:object="${booking}" method="post">
        <div class="form-group">
            <label>Rezerwuj od:</label>
            <input type="date" th:field="*{begin}">
        </div>
        <div class="form-group">
            <label>Rezerwuj do:</label>
            <input type="date" th:field="*{end}">
        </div>
        <button type="submit" class="btn btn-success">Dodaj</button>
        <div class="float-end">
            <a th:href="@{/booking/read/__${booking.id}__}" class="btn btn-danger" role="button">Anuluj</a>
        </div>
    </form>
</section>
</body>
</html>