<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Home</title>
</head>
<body>
<h1 layout:fragment="title">Hotel</h1>
<section layout:fragment="content">
    <p>
        Projekt systemu informatycznego – System obsługi recepcji hotelu.
        System przeznaczony do zarządzania pokojami hotelowymi. Użytkownicy to recepcjoniści oraz kierownik recepcji.
        System powinien umożliwiać: wprowadzanie rezerwacji dla gościa hotelowego, meldowanie i wymeldowanie gości,
        raportowanie stanu rezerwacji i  zajętości pokoi w czasie, generowanie zestawień zdjętych pokoi
    </p>
</section>
</body>
</html>